:root {
  --primary: #111319;
  --secondary: #dd4242;
  --smooth: all 0.3s;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: (red, orange);
}

::selection {
  background-color: #dd4242;
  color: white;
}

body {
  background-color: black;
  color: white !important;
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
}

.icon {
  color: var(--secondary);
  transition: var(--smooth);
}

.my-button {
  background-color: transparent;
  transition: var(--smooth);
}

.btn-content {
  transition: var(--smooth);
  font-size: 0.9rem;
  font-weight: bold;
}
.my-button:hover {
  border-color: var(--secondary) !important;
}

.my-button:hover .icon {
  color: white;
  scale: 1.1;
}
.my-button:hover .btn-content {
  color: var(--secondary) !important;
}

.x {
  color: var(--secondary);
  font-size: 3rem;
  font-weight: bolder;
}

.line-parent {
  cursor: pointer;
}

.line {
  width: 40px;
  height: 3px;
  background-color: white;
  rotate: -45deg;
}

.line3 {
  transition: var(--smooth);
}

.line2 {
  transform: translate(5px);
  transition: var(--smooth);
}
.line1 {
  transform: translate(-20px);
  transition: var(--smooth);
}

.line-parent:hover .line2 {
  transform: translate(-12px) !important;
  background-color: var(--secondary);
}
.line-parent:hover .line1 {
  transform: translate(-20px, 3px) !important;
}
.line-parent:hover .line3 {
  transform: translateY(-3px) !important;
}

.pop-up {
  background-color: var(--primary);
  z-index: 111;
}

.blob-image {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  transition: all 0.1s;
  animation: blob 5s infinite ease-in-out;
}

@keyframes blob {
  0% {
    border-radius: 58% 53% 24% 75% / 61% 76% 24% 47%;
  }
  25% {
    border-radius: 57% 43% 20% 80% / 57% 83% 17% 43%;
  }
  50% {
    border-radius: 79% 21% 44% 56% / 37% 23% 77% 63%;
  }
  75% {
    border-radius: 35% 65% 75% 25% / 76% 55% 45% 24%;
  }
  100% {
    border-radius: 58% 53% 24% 75% / 61% 76% 24% 47%;
  }
}

.stroke {
  -webkit-text-stroke: 1px white;
  font-size: 5.5rem;
  font-weight: 900;
  transition: all 0.6s;
  cursor: pointer;
  color: transparent;
  margin: 1.5rem 0;
}

.stroke:hover {
  color: var(--secondary);
  -webkit-text-stroke: 1px var(--secondary);
  letter-spacing: 2px;
  scale: 1.05;
}

.stroke:nth-child(2) {
  margin-left: 3rem;
}
.stroke:nth-child(3) {
  margin-left: 7rem;
}
.stroke:nth-child(4) {
  margin-left: 2rem;
}
.stroke:nth-child(5) {
  margin-left: -1rem;
}

.stroke-items {
  margin-left: -4rem !important;
  z-index: 2222;
}

.close {
  cursor: pointer;
}

.blob-image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-close {
  padding: 10px;
}

.bar {
  transform: translateX(5px);
  opacity: 0;
  transition: all 0.3s;
  display: none;
}

.menu-close {
  display: none;
}

.arrow-right {
  display: none;
}

.header {
  z-index: 111;
  backdrop-filter: blur(10px);
}

.front-image {
  scale: 1.1;
  position: relative;
  z-index: -3222222 !important;
  animation: scale-up2 2s infinite alternate-reverse;
  transition: all 0.7s;
}

.text-stroke {
  -webkit-text-stroke: 1px white;
  font-size: 8rem;
  font-weight: 900;
  transition: all 0.6s;
  cursor: pointer;
  color: transparent;
  margin: 1.5rem 0;
}

@keyframes scale-up2 {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.1);
  }
}

.header {
  z-index: 7777 !important;
}

.bar-front {
  width: 70px !important;
  height: 1px;
  background: var(--bs-secondary);
}

.scaling {
  transition: all 0.5s;
  animation: scale-up 0.6s infinite linear alternate-reverse !important;
}

.text-red {
  color: var(--secondary) !important;
}

@keyframes scale-up {
  from {
    scale: 1;
  }
  to {
    scale: 1.2;
  }
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #dd4242;
  border-radius: 50%;
}

.my-bar {
  width: 50px;
  height: 1px;
  background-color: lightgray;
  transition: all 0.7s;
}
.my-bar2 {
  width: 0px;
  height: 1px;
  background-color: lightgray;
  transition: all 0.7s;
}

.hov {
  transition: all 0.7s;
}

.hov:hover .my-bar {
  width: 0;
}
.hov:hover .my-bar2 {
  width: 50px;
}

.video-icon {
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  position: relative;
}

.video-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(221, 66, 66, 0.6);
  position: absolute;
  z-index: -111;
  animation: play 2s infinite;
  transition: all 0.7s;
}

.bar3 {
  width: 1px;
  height: 50px;
  background-color: lightgray;
}
.bar3-bar {
  width: 1px;
  height: 50px;
  background-color: lightgray;
  animation: big-small 1s infinite linear alternate-reverse;
}

.bar-gallery {
  width: 60px;
  height: 1px;
  background-color: lightgray;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  bottom: 0%;
  position: absolute;
  color: white;
  /* padding: 3rem; */
  transition: all 0.5s;
  height: 0;
  /* opacity: 0; */
}

.text-red {
  color: var(--secondary);
}

.gallery-card {
  overflow: hidden;
}

.gallery-card:hover .overlay {
  height: 75%;
  opacity: 1;
}

@keyframes big-small {
  from {
    height: 50px;
  }
  to {
    height: 0;
  }
}

.scroll-text {
  transform: rotate(270deg);
  letter-spacing: 5px;
}

@keyframes play {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: inset 0px 0px 10px 3px rgba(var(--wdtPrimaryColorRgb), 1),
      0px 0px 10px 3px rgba(var(--wdtPrimaryColorRgb), 0.2);
  }
  100% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    opacity: 0;
    box-shadow: none;
  }
}

.my-dot {
  width: 100px;
  height: 100px;
  background-color: #dd4242;
  border-radius: 50%;
  z-index: -1;
  top: -10%;
  left: -5%;
}

.text-anim {
  background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbHI2MDF0N29ua3AwcjJ0b3UxZmFrNjMwcjhpc3FlbjBwNGVwcno1dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oz8xGDDJLZAMGqG08/giphy.webp");
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
}

/* screen size 1200px */

@media only screen and (max-width: 1200px) {
  .active {
    background-color: var(--secondary);
  }
  .header {
    backdrop-filter: none;
  }

  .my-button {
    display: none;
  }

  .bar,
  .menu-close,
  .arrow-right {
    display: block;
  }
  .items {
    background: #15171c !important;
    position: fixed !important;
    top: 0;
    height: 100vh;
    width: 23%;
    right: 0;
    z-index: 222;
    font-size: 1.2rem;
    font-weight: normal;
    /* padding: 2rem; */
    flex-direction: column;
    gap: 0 !important;
    transform: translateX(100%);
  }

  .my-item {
    padding: 10px !important;
    transition: all 0.7s;
  }

  .my-item:hover {
    background-color: var(--secondary);
    scale: 1.03;
  }

  .my-item:hover .bar {
    opacity: 1;
    transform: translateX(14px);
  }

  .items li {
    border-bottom: 1px solid rgb(70, 69, 69);
  }

  .front-image {
    position: absolute;
    top: 20%;
    left: 0%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .front-image img {
    scale: 1 !important;
  }

  .main {
    height: 100vh !important;
    background-image: url("./assets/images/image.png");
    background-position: center 50%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 444;
  }
}

/* screen size 1024px */

@media only screen and (max-width: 1024px) {
  .blob-images {
    position: absolute;
    top: 0%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .stroke-items {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

  .stroke-items li {
    font-size: 4rem !important;
    margin: 1rem 0 !important;
  }

  .blob-image {
    width: 700px;
  }
}
